@model MoreForYou.Services.Models.API.Request

@{
    ViewData["Title"] = "BenefitRequest";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";

}
<script src="~/js/JQuery/jquery-3.5.1.js"></script>

<script src="~/searchableDD/jquery.dropdown.js"></script>
<script src="~/searchableDD/jquery.dropdown.min.js"></script>
<script src="~/searchableDD/select2.js"></script>
<link rel="stylesheet" href="~/searchableDD/jquery.dropdown.css" />
<link rel="stylesheet" href="~/searchableDD/jquery.dropdown.min.css" />
<link rel="stylesheet" href="~/searchableDD/select2.css" />
<script src="~/js/sweetalert.min.js"></script>
<script>
    function showAlert(type) {
        if (type == "Message") {
            var message = document.getElementById("ConfirmMessage").value;
            swal({
                title: "Good job!",
                text: message,
                icon: "success",
            });
        }
        else {
            var error = document.getElementById("error").value;
            swal({
                title: "Good job!",
                text: error,
                icon: "Error",
            });
        }
    }
</script>
@if (ViewBag.Message != null)
{
    <input type="hidden" id="ConfirmMessage" value="@ViewBag.Message" />

    <script>
        showAlert("Message");
    </script>
}
else if (ViewBag.Error != null)
{
    <input type="hidden" id="error" value="@ViewBag.Error" />
    <script>
        showAlert("Error");
    </script>
}
<hr />
<script>

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SupervisorId').change(function () {
            var ddlsource = "#SupervisorId";
            var url = '@Url.Content("~/")' + "Benefit/SupervisorFilter";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                if (data != null) {
                    $('#SupervisorName').empty();
                    document.getElementById('SupervisorName').value = data;
                }
                else {
                    document.getElementById('SupervisorName').value = "";
                    document.getElementById('SupervisorId').value = "";
                    document.getElementById('SupervisorIdMessage').value = "Not Found";

                }

            });
        });
    });

    function setToDateValue(e)
    {
        var from = new Date(document.getElementById("From").value);

        var numberOfDays = parseInt(document.getElementById('numberOfDays').value);
        from.setDate(from.getDate() + numberOfDays - 1);
        var ToDate = formatDate(from);
        var nextYear = parseInt(document.getElementById("year").value) + 1 ;
        alert(nextYear);
        var ToMaxDate = formatDate(new Date(nextYear, "00", "31"));
        alert(ToDate);
        alert(ToMaxDate);
        if (ToDate > ToMaxDate)
        {
            alert("invalid date");
        }
        else
        {
            var fromDefaultValue = new Date(document.getElementById("defaultExpectedFrom").value);
            var selectedDate = formatDate(from);
            var defaultDate = formatDate(fromDefaultValue);
            var benefitDateToMatch = document.getElementById("benefitDateToMatch").value;
            if (defaultDate != selectedDate && benefitDateToMatch != "Any") {
                alert("you must add Message to explain your request");
                document.getElementById("Message").setAttribute('required', '');
            }
            else {
                document.getElementById("Message").removeAttribute('required');
            }



            document.getElementById("To").value = formatDate(from);
        }
    }

    function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
    }

    function formatDate(date) {
        return (
            [
                date.getFullYear(),
                padTo2Digits(date.getMonth() + 1),
                padTo2Digits(date.getDate()),
            ].join('-'));
    }

    function setYear(year)
    {
        document.getElementById('From').setAttribute("min", year + "-01-01");
        document.getElementById('From').setAttribute("max", year + "-12-31");
        var nextYear = year + 1;
        document.getElementById('To').setAttribute("max", nextYear + "-01-31");

    }
</script>
<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0" style="margin:auto">
    <!-- Edit Profile Welcome Text -->
    <div class="widget welcome-message">
        <h2>@Model.BenefitName</h2>
        @*<p>@Model.Benefit.Description</p>*@
    </div>
    <!-- Edit Personal Info -->
    <form asp-action="ConfirmRequest" method="post" enctype="multipart/form-data">
        <input type="hidden" id="benefitId" name="benefitId" asp-for="@Model.benefitId" />
        <input type="hidden" id="benefitDateToMatch" asp-for="@Model.DateToMatch" />
        <input type="hidden" id="defaultExpectedFrom" asp-for="@Model.From" />
        <input type="hidden" id="year" asp-for="@Model.Year" />
        <input type="hidden" id="numberOfDays" asp-for="@Model.numberOfDays" />
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="widget personal-info">
                    @*<h3 class="widget-header user">Edit Personal Information</h3>*@
                    <!-- First Name -->
                    @if (Model.numberOfDays > 1)
                    {
                        <div class="form-group">
                            <label>From</label>
                            <input type="date" class="form-control" id="From" asp-for="From" onchange="setToDateValue(this)" onclick="setYear(@Model.Year)">
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" id="From" asp-for="From" onchange="setToDateValue(this)" onclick="setYear(@Model.Year)">
                        </div>
                    }
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" id="Message" asp-for="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <!-- Change Password -->
                <div class="widget change-password">
                    @*<h3 class="widget-header user">Edit Password</h3>*@
                    <!-- Current Password -->
                    <div class="form-group">
                        <label for="current-password">To</label>
                        <input class="form-control" id="To" type="date" asp-for="To" onclick="setYear(@Model.Year)">
                    </div>
                    @*@if (Model.RequiredDocuments != null)
                    {
                        for(int index=0; index<Model.RequiredDocuments.Length; index++)
                        {
                        <div class="form-group choose-file d-inline-flex">
                            <i class="fa fa-file text-center px-3"></i>
                            <input  class="form-control-file mt-2 pt-1"  asp-for="@Model.Documents[index]" name="Documents" required>
                        </div>
                        }
                        
                    }*@
                    @if (Model.IsAgift == true)
                    {
                        <div class="form-group">
                            <label>SendTo</label>
                            <input id="SupervisorId" asp-for="SendToId" name="SendToId">
                        </div>
                        <div class="form-group">
                            <label>Send To:</label>
                            <input disabled id="SupervisorName" name="SupervisorName">
                        </div>
                    }
                    <!-- File chooser -->


                    <input type="submit" class="btn btn-transparent" value="Send Request">
                </div>
            </div>
        </div>
    </form>
</div>



