@model MoreForYou.Services.Models.MasterModels.BenefitModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<script src="~/js/JQuery/jquery-3.5.1.js"></script>

<script>
    function disableMinMaxParticipatiant(e)
    {
        if (e.value == 3) {
            document.getElementById("MaxParticipant").readOnly = false;
            document.getElementById("MinParticipant").readOnly = false;

        }
        else
        {
            document.getElementById("MaxParticipant").readOnly = true;
            document.getElementById("MinParticipant").readOnly = true;
        }
    }
</script>

@if (ViewBag.Message != null)
{
    <div style="background-color: #00e600; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align:center; font-size:x-large">@ViewBag.Message</div> }
else if (ViewBag.Error != null)
{

    <div style="background-color: #ff3333; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align: center; font-size: x-large">@ViewBag.Error</div>///////////////////////////////*@ <!--<div class="modal">--> <!-- Modal content -->

}

<br />
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body" style="box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5)">
                    <h4>Add Benefit</h4>
                    <br />
                    <div class="form-validation">
                        <form asp-action="Create" asp-controller="Benefit" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name..">
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">
                                    Description <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" asp-for="Description" placeholder="Enter Description.."></textarea>
                                </div>
                                <span asp-validation-for="Description" class="text-danger"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-email">
                                    BenefitTypr <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="BenefitTypeId" class="form-control" onchange="disableMinMaxParticipatiant(this)">
                                        <option value="1">Indivadual</option>
                                        <option value="2">Group</option>

                                    </select>
                                </div>
                                <span asp-validation-for="BenefitTypeId" class="text-danger"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Year <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="Number" class="form-control" asp-for="Year" data-toggle="tooltip" data-placement="bottom" title="Year">
                                </div>
                                <span asp-validation-for="Year" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Gender <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="gender" class="form-control">
                                        <option value="-1"> Any</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </div>
                                <span asp-validation-for="gender" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label">
                                    MaritalStatus <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="MaritalStatus" class="form-control">
                                        <option value="-1">Any</option>
                                        <option value="1">Single</option>
                                        <option value="2">Married</option>
                                        <option value="3">Divorced</option>
                                    </select>
                                </div>
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label">
                                    Payroll Area <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="Collar" class="form-control" asp-items="@(new SelectList(Model.Collars,"Id", "Name"))"></select>
                                </div>
                                <span asp-validation-for="Collar" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    WorkDuration <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for="WorkDuration" placeholder="Enter Address ..">
                                </div>
                                <span asp-validation-for="WorkDuration" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Age <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-1">
                                    <select asp-for="AgeSign" asp-items="@(new SelectList(Model.AgeSigns))"></select>

                                    <input type="number" asp-for="Age" data-toggle="tooltip" data-placement="bottom" title="Age">
                                </div>
                                <span asp-validation-for="Age" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Redemmation Date Matches With <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select class="form-control" asp-for="DateToMatch" asp-items="@(new SelectList(Model.DatesToMatch))"></select>
                                    <span asp-validation-for="DateToMatch" class="text-danger"></span>

                                    <input type="date" class="form-control" asp-for="CertainDate" data-toggle="tooltip" data-placement="bottom" title="CertainDate">

                                </div>

                            </div>
                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Number of Days <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for="numberOfDays" placeholder="Enter Address ..">
                                </div>
                                <span asp-validation-for="numberOfDays" class="text-danger"></span>

                            </div>
                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Required Documents <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" asp-for="RequiredDocuments">
                                    
                                    </textarea>
                                </div>
                                <span asp-validation-for="RequiredDocuments" class="text-danger"></span>

                            </div>

                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    MinParticipant <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for="MinParticipant" id="MinParticipant" data-toggle="tooltip" data-placement="bottom" title="Minimum Participant">
                                </div>
                                <span asp-validation-for="MinParticipant" class="text-danger"></span>

                            </div>
                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    MaxParticipant <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for="MaxParticipant" id="MaxParticipant" data-toggle="tooltip" data-placement="bottom" title="Maximum Participant">
                                </div>
                                <span asp-validation-for="MaxParticipant" class="text-danger"></span>

                            </div>
                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Card <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input class="form-control" asp-for="ImageName" data-toggle="tooltip" data-placement="bottom" title="Card">
                                </div>
                                <span asp-validation-for="ImageName" class="text-danger"></span>

                            </div>
                            <div class="form-group row">

                                <label class="col-lg-4 col-form-label" for="val-email">
                                    Times <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for="Times" data-toggle="tooltip" data-placement="bottom" title="Times">
                                </div>
                                <span asp-validation-for="Times" class="text-danger"></span>

                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="HasWorkflow" /> @Html.DisplayNameFor(model => model.HasWorkflow)
                                </label>
                            </div>
                            <hr />
                            <h5>Workflow</h5>
                            <div class="form-group row">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-lg-8">Role</th>
                                            <th class="col-lg-4" style="margin-left:10px">Order</th>
                                        </tr>
                                    </thead>
                                    @for (int index = 0; index < Model.RolesOrder.Count; index++)
                                    {

                                        var orderId = "order" + index;
                                        var RoleId = "Role" + index;
                                        <tr class="row">

                                            <td class="col-lg-8">
                                                <label> @Model.RolesOrder[index].RoleName</label>
                                                <input type="hidden" id=@RoleId asp-for="RolesOrder[index].RoleId" />
                                            </td>
                                            <td class="col-lg-4">
                                                <input type="number" id=@orderId asp-for="RolesOrder[index].order" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
