@model IEnumerable<MoreForYou.Services.Models.MasterModels.BenefitModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@*<script src="~/js/JQuery/jquery-3.5.1.js"></script>
    <script src="~/DataTable/jquery-3.6.0.min.js"></script>
    <link href="~/dT/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/dT/jquery.dataTables.min.js" defer></script>*@
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

@if (ViewBag.Message != null)
{
    <div style="background-color: #00e600; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align:center; font-size:x-large">@ViewBag.Message</div> }
else if (ViewBag.Error != null)
{

    <div style="background-color: #ff3333; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align: center; font-size: x-large">@ViewBag.Error</div>///////////////////////////////*@ <!--<div class="modal">--> <!-- Modal content -->

}
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 mt-5">
            <div class="card" style="box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5)">
                <div class="card-body">
                    <h4 class="header-title">Data Table Default</h4>
                    <div class="data-tables">
                        <table id="dataTable" class="text-center  table-bordered">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Year)
                                    </th>
                                    <th>
                                        Flow
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.gender)
                                    </th>
                                    <th>
                                        WorkDur.
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Age)
                                    </th>
                                    <th>
                                        M.Status
                                    </th>
                                    <th>
                                        Min.
                                    </th>
                                    <th>
                                        Max.
                                    </th>

                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.BenefitType.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HasWorkflow)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GenderText)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WorkDuration)
                                            </td>
                                            <td>
                                                @if (item.Age == 0)
                                                {
                                                    <label>--</label>

                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Age)

                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MartialStatusText)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MinParticipant)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaxParticipant)
                                            </td>

                                            <td>
                                                <span>
                                                    <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" class="edit"><i class="fa fa-pencil color-muted m-r-5" style="color: green; font-size: 20px"></i> </a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-muted m-r-5" style="color: red; font-size: 20px"></i></a>
                                                    <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" class="view"><i class="fa fa-eye color-muted m-r-5" style="color: deepskyblue; font-size: 20px"></i> </a>
                                                </span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



