@model IEnumerable<MoreForYou.Services.Models.API.BenefitAPIModel>

@{
    ViewData["Title"] = "ShowMyBenefits";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";

}

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8" style="margin:auto">
                <div class="search-result bg-gray">
                    <h2>My Benefits</h2>
                </div>
            </div>
        </div>
        @if (Model != null && Model.Count() != 0)
        {
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin:auto">
                    <div class="category-search-filter">
                        <div class="row">
                            <div class="col-md-6">
                                <strong></strong>
                                <select>
                                    <option>Status</option>
                                    <option value="1"> Individual</option>
                                    <option value="2"> Group </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @foreach (var benefit in Model)
                    {
                        <!-- ad listing list  -->
                        <div class="ad-listing-list mt-20">
                            <div class="row p-lg-3 p-sm-5 p-4">
                                <div class="col-lg-4 align-self-center">
                                    <a href="single.html">
                                        <img src="~/images/BenefitCards/@benefit.BenefitCard" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="ribbon-wrapper">

                                            @if (benefit.LastStatus == "Pending")
                                            {
                                                <div class="ribbon" style="background-color:blue">Pending</div>
                                            }
                                            else if (benefit.LastStatus == "InProgress")
                                            {
                                                <div class="ribbon" style="background-color:yellow">InProgress</div>
                                            }
                                            else if (benefit.LastStatus == "Approved")
                                            {
                                                <div class="ribbon" style="background-color:limegreen">Approved</div>
                                            }
                                            else if (benefit.LastStatus == "Rejected")
                                            {
                                                <div class="ribbon" style="background-color:red">Rejected</div>
                                            }
                                            else if (benefit.LastStatus == "Cancelled")
                                            {
                                                <div class="ribbon" style="background-color:limegreen">Cancelled</div>
                                            }
                                        </div>

                                        <div class="col-lg-6 col-md-10">
                                            <div class="ad-listing-content">
                                                <div>
                                                    <a class="font-weight-bold" value="@benefit.Id" asp-action="BenefitDetails" asp-route-id="@benefit.Id">@benefit.Name</a>
                                                </div>
                                                <ul class="list-inline mt-2 mb-3">
                                                    <li class="list-inline-item">
                                                        <i class="fa-solid fa-rotate"></i> <span style="margin-left:5px">@benefit.TimesEmployeeReceiveThisBenefit/@benefit.Times</span>
                                                    </li>
                                                </ul>
                                                <p class="pr-5">@benefit.totalRequestsCount Requests</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="product-ratings float-lg-right pb-3">
                                                <div class="list-inline">
                                                    @if (benefit.BenefitType == "Individual")
                                                    {
                                                        <i class="fa fa-user"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-group"></i>
                                                    }
                                                </div>
                                            </div>
                                            @if (benefit.BenefitType == "Individual")
                                            {
                                                <div class="product-ratings float-lg-right pb-3" style="margin-top:100px">
                                                    <a value="@benefit.Id" asp-action="ShowMyBenefitRequests" asp-route-BenefitId="@benefit.Id" style="text-decoration:underline; color:blue; margin-right:-10px"><i class="fa fa-arrow-alt-circle-right"></i></a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="product-ratings float-lg-right pb-3" style=" margin-top:100px;">
                                                    <a value="@benefit.Id" asp-action="ShowMyBenefitRequests" asp-route-BenefitId="@benefit.Id" style="text-decoration:underline; color:blue; margin-right:-10px"><i class="fa fa-arrow-alt-circle-right"></i></a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
        else
        {
            <div> You do not have any benefits yet</div>
        }
    </div>
</section>








