@model MoreForYou.Services.Models.API.HomeModel

@{
    ViewData["Title"] = "ShowBenefits";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";
    double rowsCount = Convert.ToDouble(@Model.AllBenefitModels.Count) / 3.0;
    double AvailableRowsCount = Convert.ToDouble(Model.AvailableBenefitModels.Count) / 3.0;

    double x = (rowsCount * 10) % 10;
    double y = (AvailableRowsCount * 10) % 10;
    if (x != 0)
    {
        rowsCount = rowsCount + 1;
    }
    if (y != 0)
    {
        AvailableRowsCount = AvailableRowsCount + 1;
    }
    int index = 0;
    int AvailableIndex = 0;

}
<script src="~/js/JQuery/jquery-3.5.1.js"></script>


<section class="popular-deals section bg-gray">
    <div class="container">
        @*<div class="form-group col-md-3">
                <select class="w-100 form-control mt-lg-1 mt-md-2">
                    <option>Category</option>
                    <option value="1">Top rated</option>
                    <option value="2">Lowest Price</option>
                    <option value="4">Highest Price</option>
                </select>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Employee Benefits</h2>
                    <p>
                        As We Belevie that <h3>Employees are a company’s most valuable asset.</h3>
                        Cemex HR offers some employss benefits that indirect and non-cash compensation paid to an employee.
                        These benefits are given to employees over their salaries and wages.
                    </p>
                </div>
            </div>
        </div>
        <div class="default-tab">
            <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">ALL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile">Available</a>
                </li>

            </ul>


            <!-- offer 01 -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel">
                    @for (int row = 1; row <= rowsCount; row++)
                    {
                        int start = index;
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="trending-ads-slide">

                                    @for (index = start; index < start + 3; index++)
                                    {
                                        if (index < Model.AllBenefitModels.Count)
                                        {
                                            <div class="col-sm-12 col-lg-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="single.html">
                                                                <img class="card-img-top img-fluid" src="~/images/BenefitCards/@Model.AllBenefitModels[index].BenefitCard" alt="Card image cap">
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="card-title">
                                                                <li class="list-inline-item">
                                                                    <a value="@Model.AllBenefitModels[index].Id" asp-action="BenefitDetails" asp-route-id="@Model.AllBenefitModels[index].Id">@Model.AllBenefitModels[index].Name</a>
                                                                </li>
                                                                <li class="list-inline-item" style="margin-right:10px; float:right">
                                                                    @if (@Model.AllBenefitModels[index].BenefitType == "Individual")
                                                                    {
                                                                        <i class="fa-solid fa-user-group"></i> @Model.AllBenefitModels[index].BenefitType
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa-solid fa-user"></i> @Model.AllBenefitModels[index].BenefitType
                                                                    }
                                                                </li>
                                                            </ul>
                                                            <hr />
                                                            <ul class="list-inline product-meta">
                                                                <li class="list-inline-item">
                                                                    <i class="fa-solid fa-rotate"></i> <span style="margin-left:5px">@Model.AllBenefitModels[index].TimesEmployeeReceiveThisBenefit/@Model.AllBenefitModels[index].Times</span>
                                                                </li>
                                                                @*<p class="card-text">@Model.AllBenefitModels[index].Description</p>*@
                                                                <li class="list-inline-item" style="margin-right:10px; float:right">
                                                                    @if (Model.AllBenefitModels[index].EmployeeCanRedeem == true)
                                                                    {

                                                                        <a class="btn" style="background-color: #000066; color: white" value="@Model.AllBenefitModels[index].Id" asp-action="Redeem" asp-route-id="@Model.AllBenefitModels[index].Id">Redeem</a>

                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="btn disabled" style="background-color: #a3a3c2; color:white" value="@Model.AllBenefitModels[index].Id" asp-action="Redeem" asp-route-id="@Model.AllBenefitModels[index].Id">Redeem</a>

                                                                    }
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            break;
                                        }


                                    }
                                </div>
                            </div>

                        </div>
                    }

                </div>

                <div class="tab-pane fade active" id="profile" role="tabpanel">
                    @for (int row = 1; row <= AvailableRowsCount; row++)
                    {
                        int start = AvailableIndex;
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="trending-ads-slide">

                                    @for (index = start; index < start + 3; index++)
                                    {
                                        if (index < Model.AvailableBenefitModels.Count)
                                        {
                                            <div class="col-sm-12 col-lg-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="single.html">
                                                                <img class="card-img-top img-fluid" src="~/images/BenefitCards/@Model.AvailableBenefitModels[index].BenefitCard" alt="Card image cap">
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <h4 class="card-title">
                                                                <a value="@Model.AvailableBenefitModels[index].Id" asp-action="BenefitDetails" asp-route-id="@Model.AvailableBenefitModels[index].Id">@Model.AvailableBenefitModels[index].Name</a>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-cube"></i>   @Model.AvailableBenefitModels[index].BenefitType
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-card-blank"></i>@Model.AvailableBenefitModels[index].Times
                                                                </li>
                                                            </ul>
                                                            <p class="card-text">@Model.AvailableBenefitModels[index].Description</p>
                                                            <div class="product-ratings">
                                                                @if (Model.AvailableBenefitModels[index].EmployeeCanRedeem == true)
                                                                {

                                                                    <a class="btn btn-info" value="@Model.AvailableBenefitModels[index].Id" asp-action="Redeem" asp-route-id="@Model.AvailableBenefitModels[index].Id">Redeem</a>

                                                                }
                                                                else
                                                                {
                                                                    <a class="btn btn-info disabled" value="@Model.AvailableBenefitModels[index].Id" asp-action="Redeem" asp-route-id="@Model.AvailableBenefitModels[index].Id">Redeem</a>

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            break;
                                        }


                                    }
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>

        </div>

    </div>

</section>
