@model MoreForYou.Services.Models.API.ManageRequest
@inject UserManager<AspNetUser> userManager
@inject SignInManager<AspNetUser> SignInManager


@{
    ViewData["Title"] = "ShowRequests";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";
    var user = await userManager.GetUserAsync(User);
    var displayName = user.UserName;
    var roles = await userManager.GetRolesAsync(user);
    int index = 0;
    string employeeName = "";
    string employeeNumber = "";
    string employeePhoto = "";
    string employeePosition = "";
    string employeeDepartment = "";
    string groupName = "";
    string members = "";
    string createdBy = "";
    string employeeEmail = "";
    string employeeSapNumber = "";
    string employeeEmployeeNumber = "";
    string employeeCompanyCode = "";
    string employeeCollar = "";
    string employeeBirthDate = "";
    string trId = "";
    string requestMessage = "";
    string To = "";
    string From = "";
    string requestBenefitType = "";
    string requestStatus = "";
}
<script src="~/js/JQuery/jquery-3.5.1.js"></script>
<script src="~/js/sweetalert.min.js"></script>

<style>
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    strong {
        margin-right: 25px;
        margin-bottom: 10px;
    }

    a.disabled {
        pointer-events: none;
    }

    /*    .hide
    {
        display:none;
    }
    .data:hover +.hide
    {
        display:block;

    }*/
    .groupMemberData {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
</style>
<script>
    function displayRequestDetails(i, m, files) {
        var benefitType = document.getElementById("requestBenefitType" + i).value;


        document.getElementById("employeeNameee").innerText = document.getElementById("employeeName" + i).value;
        //alert(document.getElementById("employeeNameee").innerText);
        document.getElementById("employeeDepartment").innerText = document.getElementById("employeeDepartment" + i).value;
        document.getElementById("employeePosition").innerText = document.getElementById("employeePosition" + i).value;
        document.getElementById("employeeEmail").innerText = document.getElementById("employeeEmail" + i).value;
        document.getElementById("employeeSapNumber").innerText = document.getElementById("employeeSapNumber" + i).value;
        document.getElementById("employeeEmployeeNumber").innerText = document.getElementById("employeeEmployeeNumber" + i).value;
        document.getElementById("employeeCompanyCode").innerText = document.getElementById("employeeCompanyCode" + i).value;
        document.getElementById("employeeBirthDate").innerText = document.getElementById("employeeBirthDate" + i).value;
        document.getElementById("employeeCollar").innerText = document.getElementById("employeeCollar" + i).value;
        document.getElementById("employeeRequestMessage").innerText = document.getElementById("requestMessage" + i).value;
        document.getElementById("From").innerText = document.getElementById("From" + i).value;
        document.getElementById("To").innerText = document.getElementById("To" + i).value;

        var PP = document.getElementById("employeephoto" + i).value;
        document.getElementById("employeePhoto").src = "~/images/userProfile/" + PP;
        if (benefitType == "Group")
        {
            document.getElementById("groupData").innerHTML = "";
            var ul = document.getElementById("groupData");
            document.getElementById("groupData").style.display = "";
            var li1 = document.createElement("li");
            li1.setAttribute("style", "text-decoration:underline");
            li1.textContent = "GroupMembers";
            ul.append(li1);
            for (var mb in m)
            {
                var li = document.createElement("li");
                var a = document.createElement("button");
                a.textContent = m[mb]["EmployeeName"];
                a.setAttribute("id", "showModal");
                a.setAttribute("data-target", "#exampleModal");
                a.setAttribute("data-toggle", "modal");
                a.setAttribute("data-name", m[mb]["EmployeeName"]);
                a.setAttribute("data-department", m[mb]["DepartmentName"]);
                a.setAttribute("data-position", m[mb]["PositionName"]);
                a.setAttribute("data-birthDate", m[mb]["BirthDate"]);
                a.setAttribute("data-collar", m[mb]["Collar"]);
                a.setAttribute("data-number", m[mb]["EmployeeNumber"]);
                a.setAttribute("data-workduration", m[mb]["WorkDuration"]);
                a.setAttribute("data-email", m[mb]["Email"]);
                a.setAttribute("data-sapnumber", m[mb]["SapNumber"]);
                a.setAttribute("data-company", m[mb]["Company"]);
                li.append(a);
                li.setAttribute("class", "active");
                ul.append(li);
            }
        }
        else
        {
                document.getElementById("groupData").innerHTML = "";
        }

        if (files != 0)
        {
            alert(files.length);
            document.getElementById("documents").innerHTML = "";
            var ul = document.getElementById("documents");
            document.getElementById("documents").style.display = "";
            for (var fileIndex = 0; fileIndex < files.length; fileIndex++)
            {
                
                var img = document.createElement("img");
                img.setAttribute("src", files[fileIndex]);
                img.setAttribute("style", "width:300px; height:400px");
                img.setAttribute("class", "zoom");
                var newLine = document.createElement("BR");
                ul.append(img);
                ul.append(newLine);

            }
        }
        
    }
</script>
<script type="text/javascript">
    function AddResponse()
    {
        var url = '@Url.Content("~/")' + "Benefit/AddResponse";
        var requestId = document.getElementById("request").value;
        var status = document.getElementById("StatusValue").value;
        var message = document.getElementById("message").value;
        $.getJSON(url, { requestId: requestId, status: status, message: message }, function (data)
        {
            if (data == true)
            {
                if (status == 1) {
                    document.getElementById(requestId).innerHTML = "<b style='color:green'>Approved</b>";
                    document.getElementById("requeststatus" + requestId).innerText = "Approved";
                    swal({
                        title: "Approved!",
                        text: "Sucess Process!",
                        icon: "success",
                    });
                }
                else
                {
                    document.getElementById(requestId).innerHTML = "<b style='color:red'>Rejected</b>";
                    document.getElementById("requeststatus" + requestId).innerText = "Rejected";
                    swal({
                        title: "Rejected!",
                        text: "Sucess Process!",
                        icon: "error",
                    });
                }
            }
            else {
                swal({
                    title: "error!",
                    text: "Failed Process!",
                    icon: "error",
                });

            }
        });
    }

    function addGroupmembers(members)
    {
        for (var member in members)
        {
            var mainDiv = document.getElementById("groupMembers");
            var memberDetails = document.createElement("div");
            memberDetails.innerHTML = "<b>" + member["employeeName"] + "</b> </br>" + member["employeePosition"] + "\"";
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#exampleModal").on('show.bs.modal', function (event) {
            var anchor = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            modal.find('#memberName').text(anchor.data('name'))
            modal.find('#memberDepartment').text(anchor.data('department'))
            modal.find('#memberPosition').text(anchor.data('position'))
            modal.find('#memberCollar').text(anchor.data('collar'))
            modal.find('#memberDateBirth').text(anchor.data('birthdate'))
            modal.find('#memberEmail').text(anchor.data('email'))
            modal.find('#memberWorkDuration').text(anchor.data('workduration'))
            modal.find('#memberNumber').text(anchor.data('number'))
            modal.find('#memberCompany').text(anchor.data('company'))
            modal.find('#memberSapNumber').text(anchor.data('sapnumber'))
        });


        $("#MessageModal").on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            var id = button.data('request')
            var st = button.data('status')
            modal.find('#request').val(id)
            modal.find('#StatusValue').val(st)
        });
    });
</script>
<style>
    .slider2 {
        width: 1200px;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="advance-search" style="margin-top:20px">
            <div class="container">
                <div class="justify-content-center">
                    <div class="col-lg-8 col-md-8 align-content-center">
                        <form method="post" asp-action="ShowRequests">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <input type="number" class="form-control my-2 my-lg-1" id="inputtext4" asp-for="employeeNumberSearch" name="RequestNumberSearch">
                                </div>
                                <div class="form-group col-md-3">
                                    <select class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@(new SelectList(Model.BenefitTypeModels,"Id","Name"))" asp-for="SelectedBenefitType" name="SelectedBenefitType">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <select class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@(new SelectList(Model.RequestStatusModels,"Id","Name"))" asp-for="SelectedRequestStatus" name="SelectedRequestStatus">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <select class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@(new SelectList(Model.TimingModels,"Id","Name"))" asp-for="SelectedTimingId" name="SelectedTimingId">
                                    </select>
                                </div>
                                @if (roles.Contains("Admin"))
                                {
                                    <div class="form-group col-md-3">
                                        <select class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@(new SelectList(Model.DepartmentModels,"Id","Name"))" asp-for="SelectedDepartmentId" name="SelectedDepartmentId">
                                        </select>
                                    </div>
                                }
                                <div class="form-group col-md-3">
                                    <input type="checkbox" asp-for="SelectedAll" name="SelectedAll" />
                                    <label>All</label>
                                </div>
                                <div class="form-group col-md-4 align-self-end">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>
@if (Model.Requests != null && Model.Requests.Count != 0)
{
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0" style="position:sticky">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <div class="widget user-dashboard-profile">
                            <!-- User Image -->
                            <div class="profile-thumb">
                                <img id="employeePhoto" src="" alt="" class="rounded-circle">
                            </div>
                            <!-- User Name -->
                            <h4 class="text-center data" id="employeeNameee">@Model.Requests[0].CreatedBy.EmployeeName</h4>
                            <h6 class="text-center" id="employeePosition" style="font-style:italic">@Model.Requests[0].CreatedBy.PositionName</h6>
                            <h5 class="text-center" id="employeeDepartment">@Model.Requests[0].CreatedBy.DepartmentName</h5>
                            <h5 class="text-center" id="employeeEmail">@Model.Requests[0].CreatedBy.Email</h5>

                            <p>Joined for <b>@Model.Requests[0].CreatedBy.WorkDuration</b> ago</p>
                            @*<a href="" data-target="#exampleModal" data-toggle="modal">teeeeest</a>*@
                            @*<a href="user-profile.html" class="btn btn-main-sm">Edit Profile</a>*@
                        </div>
                        Employee Details
                        <div class="widget user-dashboard-menu">
                            <ul>
                                <li class="active"><i class="fa fa-tag"></i> SapNumber :-  <span id="employeeSapNumber">@Model.Requests[0].CreatedBy.SapNumber </span></li>
                                <li><i class="fa fa-id-card-o"></i> Employee Number:- <span id="employeeEmployeeNumber">@Model.Requests[0].CreatedBy.EmployeeNumber </span></li>
                                <li><i class="fa fa-building"></i> Company:-  <span id="employeeCompanyCode"> @Model.Requests[0].CreatedBy.Company </span></li>
                                <li> <i class="fa fa-birthday-cake"></i> BDate:-  <span id="employeeBirthDate">@Model.Requests[0].CreatedBy.BirthDate </span></li>
                                <li> <i class="fa-brands fa-black-tie"></i> Payroll Area:- <span id="employeeCollar"> @Model.Requests[0].CreatedBy.Collar </span></li>
                            </ul>
                        </div>

                        Request Details
                        <div class="widget user-dashboard-menu">
                            <ul>
                                <li class="active"><i class="fa fa-message"></i> Message :-  <span id="employeeRequestMessage" style="width:20px; height:70px">@Model.Requests[0].Message</span></li>
                                <li class="active"><i class="fa fa-calendar-day"></i> From :-  <span id="From">@Model.Requests[0].From</span></li>
                                <li class="active"><i class="fa fa-calendar-days"></i> To :-  <span id="To">@Model.Requests[0].To</span></li>
                            </ul>
                            <div id="documents" style="display:none">
                                <div style="text-decoration:underline">Documents</div>

                            </div>
                            <ul id="groupData" style="display:none">
                                <li style="text-decoration:underline">GroupMembers</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        <h3 class="widget-header">Manage Requests</h3>
                        <table class="table table-responsive product-dashboard-table">
                            <thead>
                                <tr>
                                    <th>Request Details</th>
                                    <th class="text-center">Category</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (index = 0; index < Model.Requests.Count; index++)
                                {

                                    employeeName = "employeeName" + index;
                                    employeeNumber = "employeeNumber" + index;
                                    employeePhoto = "employeephoto" + index;
                                    employeePosition = "employeePosition" + index;
                                    employeeDepartment = "employeeDepartment" + index;
                                    employeeBirthDate = "employeeBirthDate" + index;
                                    employeeCollar = "employeeCollar" + index;
                                    employeeCompanyCode = "employeeCompanyCode" + index;
                                    employeeEmployeeNumber = "employeeEmployeeNumber" + index;
                                    employeeSapNumber = "employeeSapNumber" + index;
                                    employeeEmail = "employeeEmail" + index;
                                    requestMessage = "requestMessage" + index;
                                    requestStatus = "requestStatus" + Model.Requests[index].RequestNumber;

                                    To = "To" + index;
                                    From = "From" + index;
                                    requestBenefitType = "requestBenefitType" + index;
                                    trId = "tr" + @Model.Requests[index].RequestNumber;
                                    <tr id=@trId>
                                        <td class="product-details col-lg-6">
                                            @if (Model.Requests[index].BenefitType != "Group")
                                            {
                                                @if (Model.Requests[index].DocumentsPath == null)
                                                {
                                                    <span class="add-id" id="requestNumber" onclick="displayRequestDetails(@index, 0, 0)"><strong>Number</strong> @Model.Requests[index].RequestNumber</span>

                                                }
                                                else
                                                {
                                                    var documentsNames = JsonSerializer.Serialize(Model.Requests[index].DocumentsPath);

                                                    <span class="add-id" id="requestNumber" onclick="displayRequestDetails(@index, 0, @documentsNames)"><strong>Number</strong> @Model.Requests[index].RequestNumber</span>

                                                }

                                            }
                                            else
                                            {
                                                var FullParticipantsData = JsonSerializer.Serialize(Model.Requests[index].FullParticipantsData);
                                                for (int memberIndex = 0; memberIndex < Model.Requests[index].FullParticipantsData.Count; memberIndex++)
                                                {

                                                    var id = "group" + index + "member" + memberIndex;
                                                    <input type="hidden" id=@id value=@Model.Requests[index].FullParticipantsData[memberIndex].EmployeeName />
                                                }
                                                @if (Model.Requests[index].DocumentsPath == null)
                                                {
                                                    <span class="add-id" id="requestNumber" onclick="displayRequestDetails(@index, @FullParticipantsData , 0)"><strong>Number</strong> @Model.Requests[index].RequestNumber</span>

                                                }
                                                else
                                                {
                                                    var documentsNames = JsonSerializer.Serialize(Model.Requests[index].DocumentsPath);
                                                    <span class="add-id" id="requestNumber" onclick="displayRequestDetails(@index, @FullParticipantsData , @documentsNames)"><strong>Number</strong> @Model.Requests[index].RequestNumber</span>

                                                }
                                            }
                                            @if (Model.Requests[index].DocumentsPath != null)
                                            {

                                                for (int documentIndex = 0; documentIndex < Model.Requests[index].DocumentsPath.Length; documentIndex++)
                                                {
                                                    var documentId = "document" + index + "number" + documentIndex;
                                                    <input type="hidden" id=@documentId value=@Model.Requests[index].DocumentsPath[documentIndex] />

                                                }
                                            }
                                            <span><strong>Requested at</strong><time>@Model.Requests[index].Requestedat</time> </span>
                                            <span class="status active" id=@requestStatus><strong>Status</strong>@Model.Requests[index].status</span>
                                            <span class="location"><strong>Required Date</strong>@Model.Requests[index].From</span>
                                            <input type="hidden" id=@employeeName value="@Model.Requests[index].CreatedBy.EmployeeName" />
                                            <input type="hidden" id=@employeePosition value="@Model.Requests[index].CreatedBy.PositionName" />
                                            <input type="hidden" id=@employeeDepartment value="@Model.Requests[index].CreatedBy.DepartmentName" />
                                            <input type="hidden" id=@employeeEmployeeNumber value="@Model.Requests[index].CreatedBy.EmployeeNumber" />

                                            <input type="hidden" id=@employeeCollar value="@Model.Requests[index].CreatedBy.Collar" />
                                            <input type="hidden" id=@employeeBirthDate value="@Model.Requests[index].CreatedBy.BirthDate" />
                                            <input type="hidden" id=@employeeCompanyCode value="@Model.Requests[index].CreatedBy.Company" />
                                            <input type="hidden" id=@employeeEmail value="@Model.Requests[index].CreatedBy.Email" />
                                            <input type="hidden" id=@employeeSapNumber value="@Model.Requests[index].CreatedBy.SapNumber" />
                                            <input type="hidden" id=@employeePhoto value="@Model.Requests[index].CreatedBy.ProfilePicture" />
                                            <input type="hidden" id=@requestMessage value="@Model.Requests[index].Message" />
                                            <input type="hidden" id=@From value="@Model.Requests[index].From" />
                                            <input type="hidden" id=@To value="@Model.Requests[index].To" />
                                            @*@if (Model.Requests[index].WariningMessage != null)
        {
            <input type="hidden" id=@warning value="@Model.Requests[index].From" />

        }*@

                                            <input type="hidden" id=@requestBenefitType value="@Model.Requests[index].BenefitType" />
                                            @if (Model.Requests[index].BenefitType == "Group")
                                            {
                                                groupName = "groupName" + index;
                                                members = "members" + index;
                                                <input type="hidden" id=@groupName value="@Model.Requests[index].GroupName" />
                                            }
                                        </td>
                                        <td class="product-category"><span class="categories">@Model.Requests[index].BenefitName</span></td>
                                        <td class="action" data-title="Action">
                                            <div class="">
                                                @if (Model.Requests[index].EmployeeCanResponse)
                                                {
                                                    <ul class="list-inline justify-content-center" id="@Model.Requests[index].RequestNumber">
                                                        <li class="list-inline-item">
                                                            @*<form asp-action="RequestResponse">*@
                                                            <input type="hidden" asp-for="Requests[index].RequestNumber" id="BenefitRequestId" name="BenefitRequestId" />
                                                            <input type="hidden" asp-for="Requests[index].status" value="1" id="RequestStatusSelectedId" name="RequestStatusSelectedId" />
                                                            <button class="btn btn-success" data-request="@Model.Requests[index].RequestNumber" data-status="1" data-toggle="modal" data-target="#MessageModal">OK</button>

                                                            @*</form>*@
                                                        </li>
                                                        <li class="list-inline-item" style="margin:5px">

                                                            @*<form asp-action="RequestResponse">*@
                                                            <input type="hidden" asp-for="Requests[index].RequestNumber" id="BenefitRequestId" name="BenefitRequestId" />
                                                            <input type="hidden" asp-for="Requests[index].status" value="2" id="RequestStatusSelectedId" name="RequestStatusSelectedId" />
                                                            <button class="btn btn-danger" data-request="@Model.Requests[index].RequestNumber" data-status="2" data-toggle="modal" data-target="#MessageModal"><i class="fa fa-close"></i></button>

                                                            @*</form>*@
                                                        </li>

                                                    </ul>

                                                }
                                                else
                                                {
                                                    <ul class="list-inline justify-content-center">
                                                        <li class="list-inline-item">
                                                            @Model.Requests[index].status
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    @*@if(Model.Requests[index].BenefitType == "Group")
                                        {*@

                                    groupName = "groupName" + index;
                                    members = "members" + index;
                                    createdBy = "createdBy" + index;

                                    //employeePhoto = "employeephoto" + index;
                                    //employeePosition = "employeePosition" + index;
                                    //employeeDepartment = "employeeDepartment" + index;
                                    @*<tr>*@
                                    @*<td class="product-details col-lg-6">
                                            <span class="add-id" id="groupCode" onclick="displayGroupDetails(@index)"><strong>Group Code</strong> @Model.Requests[index].GroupName</span>
                                            <span><strong>Requested at</strong><time>@Model.Requests[index].Requestedat</time> </span>
                                            <span class="status active"><strong>Status</strong>@Model.Requests[index].status</span>
                                            <span class="location"><strong>Required Date</strong>@Model.Requests[index].Requiredat</span>
                                            <input type="hidden" id=@groupName value="@Model.Requests[index].GroupName" />
                                            <input type="hidden" id=@members value="@Model.Requests[index].GroupName" />
                                            <input type="hidden" id=@createdBy value="@Model.Requests[index].CreatedBy.EmployeeName" />
                                            <input type="hidden" id=@employeeNumber value="@Model.Requests[index].CreatedBy.EmployeeNumber" />
                                            <input type="hidden" id=@employeePhoto value="@Model.Requests[index].CreatedBy.ProfilePicture" />
                                        </td>*@

                                    @*<td class="product-category"><span class="categories">@Model.Requests[index].BenefitType</span></td>
                                            <td class="action" data-title="Action">
                                                <div class="">
                                                    @if (Model.Requests[index].EmployeeCanResponse)
                                                    {
                                                        <ul class="list-inline justify-content-center" id="@Model.Requests[index].RequestNumber">
                                                            <li class="list-inline-item">

                                                                <form asp-action="RequestResponse">
                                                                    <input type="hidden" asp-for="Requests[index].RequestNumber" id="BenefitRequestId" name="BenefitRequestId" />
                                                                    <input type="hidden" asp-for="Requests[index].status" value="1" id="RequestStatusSelectedId" name="RequestStatusSelectedId" />
                                                                    <button type="submit" class="btn btn-success">OK</button>

                                                                </form>


                                                            </li>
                                                            <li class="list-inline-item" style="margin:5px">

                                                                <form asp-action="RequestResponse">
                                                                    <input type="hidden" asp-for="Requests[index].RequestNumber" id="BenefitRequestId" name="BenefitRequestId" />
                                                                    <input type="hidden" asp-for="Requests[index].status" value="2" id="RequestStatusSelectedId" name="RequestStatusSelectedId" />
                                                                    <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i></button>

                                                                </form>
                                                            </li>

                                                        </ul>

                                                    }
                                                    else
                                                    {
                                                        <ul class="list-inline justify-content-center">
                                                            <li class="list-inline-item">
                                                                @Model.Requests[index].status
                                                            </li>
                                                        </ul>
                                                    }
                                                </div>
                                            </td>
                                        </tr>*@
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Message</h4>
                        <input type="hidden" id="request" />
                        <input type="hidden" id="StatusValue" />
                        <textarea id="message" style="width:420px; height:150px;" required placeholder="Write Comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="AddResponse()">Submit</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li class="groupMemberData" id="memberName"></li>
                            <li class="groupMemberData" id="memberDepartment"></li>
                            <li class="groupMemberData" id="memberPosition"></li>
                            <li class="groupMemberData" id="memberEmail"></li>
                            <li class="groupMemberData" id="memberWorkDuration"></li>
                            <li class="groupMemberData" id="memberSapNumber"></li>
                            <li class="groupMemberData" id="memberNumber"></li>
                            <li class="groupMemberData" id="memberCompany"></li>
                            <li class="groupMemberData" id="memberDateBirth"></li>
                            <li class="groupMemberData" id="memberCollar"></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
else
{
    <div>
        <b> There Is No New Requests</b>
    </div>
}
