@model MoreForYou.Services.Models.API.MyRequests

@inject UserManager<AspNetUser> userManager
@inject SignInManager<AspNetUser> SignInManager
@{
    ViewData["Title"] = "ShowMyBenefitRequests";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";
    var user = await userManager.GetUserAsync(User);
    var displayName = user.UserName;
    var roles = await userManager.GetRolesAsync(user);
    int index = 0;
    string employeeName = "";
    string employeeNumber = "";
    string employeePhoto = "";
    string employeePosition = "";
    string employeeDepartment = "";
    string groupName = "";
    string members = "";
    string createdBy = "";
    string expectedDateFrom = "";
    string expectedDateTo = "";
    string message = "";
    string trId = "";
    string roleStatus = "";
    int flowIndex = 0;
    string RequestOwnerName = "";
    string RequestOwnerWorkDuaration = "";
    string benefitType = "";
}
<style>
    strong {
        margin-right: 25px;
        margin-bottom: 10px;
    }

    a.disabled {
        pointer-events: none;
    }

    tr:hover #deletebtn {
        background-color: red;
    }

    tr:hover #deleteIcon {
        color: white;
    }

    #deletebtn {
        border: none;
        background-color: lightgrey;
        border-radius: 50%;
    }

</style>
<script src="~/js/JQuery/jquery-3.5.1.js"></script>
<script src="~/js/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $("#exampleModal").on('show.bs.modal', function (event) {
            var anchor = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            var i = anchor.data('index');
            modal.find('#requestFrom').text(document.getElementById("expectedDateFrom" + i).value);
            modal.find('#requestTo').text(document.getElementById("expectedDateTo" + i).value);
            modal.find('#requestEmployeeName').text(document.getElementById("RequestOwnerName" + i).value);
            modal.find('#requestType').text(document.getElementById("benefitType" + i).value);
            var flow = anchor.data('workflow');
            if (flow == true)
            {
                alert("tesssst");
                var workflowCount = parseInt(anchor.data("workflowcount"));
                alert(workflowCount);
                for (var x = 0; x < workflowCount; x++) {
                    var div = document.createElement("div");
                    div.setAttribute("class", "timeline-task");
                    div.setAttribute("id", "timeline"+x);
                    divName = document.createElement("div");
                    divName.setAttribute("id", "name" + x);
                    divName.setAttribute("class", "icon bg1");
                    divName.textContent = document.getElementById("employeeName" + i + x).value;
                    divRole = document.createElement("div");
                    divName.setAttribute("id", "role" + x);
                    divRole.setAttribute("class", "tm-title");
                    divRole.textContent = document.getElementById("roleStatus" + i + x).value;
                    div.append(divName);
                    div.append(divRole)
                    modal.find('.modal-body .timeline-area').append(div);
                    //modal.find('#workflowEmployeeName').text(document.getElementById("employeeName" + i + x).value);
                    //modal.find('#workflowEmployeeRole').text(document.getElementById("roleStatus" + i + x).value);
                }
            }

        });

    });
</script>
<script>
    function displayRequestDetails(i, flow) {
        document.getElementById("expectedDateFrom").innerText = document.getElementById("expectedDateFrom" + i).value;
        document.getElementById("expectedDateTo").innerText = document.getElementById("expectedDateTo" + i).value;
        document.getElementById("message").innerText = document.getElementById("message" + i).value;
        //document.getElementById("RequestOwnerName").innerText = document.getElementById("RequestOwnerName" + i).value;
        //document.getElementById("RequestOwnerWorkDuration").innerText = document.getElementById("RequestOwnerWorkDuration" +i).value;
        for (var x = 0; x < flow; x++) {

            document.getElementById("employeeNameF" + x).innerText = document.getElementById("employeeName" + i + x).value;
            document.getElementById("roleStatusF" + x).innerText = document.getElementById("roleStatus" + i + x).value;
        }
    }

    function displayGroupDetails(i) {
        document.getElementById("employeeName").innerText = document.getElementById("groupName" + i).value;
        document.getElementById("employeeDepartment").innerText = document.getElementById("members" + i).value;
        document.getElementById("employeePosition").innerText = document.getElementById("createdBy" + i).value;
    }
</script>

<script>
    function showAlert(type) {
        if (type == "Message") {
            var message = document.getElementById("message").value;
            swal({
                title: "Good job!",
                text: message,
                icon: "success",
            });
        }
        else {
            var error = document.getElementById("error").value;
            swal({
                title: "Failed Process!",
                text: error,
                icon: "Error",
            });
        }
    }
</script>
@if (ViewBag.Message != null)
{
    <input type="hidden" id="message" value="@ViewBag.Message" />
    <script>
        showAlert("Message");
    </script>
}
else if (ViewBag.Error != null)
{
    <input type="hidden" id="error" value="@ViewBag.Error" />
    <script>
        showAlert("Error");
    </script>
}
@if (Model.Requests.Count != 0 && Model != null)
{
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
             
                <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-0" style="margin:auto">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist" style="margin:auto">
                        <h3 class="widget-header">My @Model.Requests[0].BenefitName Requests</h3>
                        @*<table class="table table-responsive product-dashboard-table">
                            <thead>
                                <tr>
                                    <th>Request</th>
                                    <th class="text-center">Category</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>*@
                                @for (index = 0; index < Model.Requests.Count; index++)
                                {
                                    employeeNumber = "employeeNumber" + index;
                                    employeePhoto = "employeephoto" + index;
                                    employeePosition = "employeePosition" + index;
                                    employeeDepartment = "employeeDepartment" + index;
                                    expectedDateFrom = "expectedDateFrom" + index;
                                    expectedDateTo = "expectedDateTo" + index;
                                    benefitType = "benefitType" + index;
                                    message = "message" + index;
                                    trId = "tr" + @Model.Requests[index].RequestNumber;
                                    RequestOwnerWorkDuaration = "RequestOwnerWorkDuaration" + index;
                                    RequestOwnerName = "RequestOwnerName" + index;
                                    <hr />
                        <div class="ad-listing-list mt-20" style="margin-bottom:30px">
                            <div class="row p-lg-3 p-sm-5 p-4">
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="ribbon-wrapper" id="@index">

                                            @if (Model.Requests[index].status == "Pending")
                                            {
                                                <div class="ribbon" style="background-color:blue">Pending</div>
                                            }
                                            else if (Model.Requests[index].status == "InProgress")
                                            {
                                                <div class="ribbon" style="background-color:yellow">InProgress</div>
                                            }
                                            else if (Model.Requests[index].status == "Approved")
                                            {
                                                <div class="ribbon" style="background-color:limegreen">Approved</div>
                                            }
                                            else if (Model.Requests[index].status == "Rejected")
                                            {
                                                <div class="ribbon" style="background-color:red">Rejected</div>
                                            }
                                            else if (Model.Requests[index].status == "Cancelled")
                                            {
                                                <div class="ribbon" style="background-color:limegreen">Cancelled</div>
                                            }
                                        </div>
                                        <div class="col-lg-8 align-self-center">
                                            <ul style="margin-left:20px">
                                                <li><span class="add-id"><strong>Number</strong> <span style="margin-left:35px">@Model.Requests[index].RequestNumber</span></li>
                                                <li><span><strong>Requested at</strong><time>@Model.Requests[index].Requestedat</time> </span></li>
                                                <li><span class="status"><strong>Status</strong><span style="margin-left:45px">@Model.Requests[index].status</span></span></li>
                                                <li><span class="location"><strong>Required Date</strong>@Model.Requests[index].From</span></li>
                                            </ul>

                                            <input type="hidden" id=@RequestOwnerName value="@Model.Requests[index].CreatedBy.EmployeeName" />
                                            <input type="hidden" id=@RequestOwnerWorkDuaration value="@Model.Requests[index].CreatedBy.WorkDuration" />
                                            <input type="hidden" id=@employeeNumber value="@Model.Requests[index].EmployeeNumber" />
                                            <input type="hidden" id=@expectedDateFrom value="@Model.Requests[index].From" />
                                            <input type="hidden" id=@expectedDateTo value="@Model.Requests[index].To" />
                                            <input type="hidden" id=@message value="@Model.Requests[index].Message" />
                                            <input type="hidden" id=@benefitType value="@Model.Requests[index].BenefitType" />

                                            <input type="hidden" id=@employeePhoto value="@Model.Requests[index].CreatedBy.ProfilePicture" />
                                            @if (Model.Requests[index].RequestWorkFlowAPIs != null)
                                            {
                                                @for (flowIndex = 0; flowIndex < Model.Requests[index].RequestWorkFlowAPIs.Count; flowIndex++)
                                                {
                                                    employeeName = "employeeName" + index + flowIndex;
                                                    roleStatus = "roleStatus" + index + flowIndex;
                                                    <input type="hidden" id=@employeeName value="@Model.Requests[index].RequestWorkFlowAPIs[flowIndex].EmployeeName" />
                                                    <input type="hidden" id=@roleStatus value="@Model.Requests[index].RequestWorkFlowAPIs[flowIndex].Status" />
                                                }
                                            }
                                        </div>
                                        @*<td class="product-category"><span class="categories">@Model.Requests[index].BenefitName</span></td>*@
                                        <div class="col-lg-2 align-self-center">
                                                <ul class="list-inline justify-content-center">
                                                    <li class="list-inline-item">
                                                        @if (Model.Requests[index].RequestWorkFlowAPIs != null && (Model.Requests[index].RequestWorkFlowAPIs.Count != 0))
                                                        {
                                                            @*<button data-toggle="tooltip" data-placement="top" title="view" class="view" asp-action="RequestDetails" asp-route-id="@Model.Requests[index].RequestNumber" onclick="displayRequestDetails(@index, @Model.Requests[index].RequestWorkFlowAPIs.Count )">
                                         <i class="fa fa-eye"></i>
                                    </button>*@

                                                            <button data-placement="top" title="view" data-status="1" data-toggle="modal" data-target="#exampleModal" data-index=@index data-workflow="true" data-workflowcount=@Model.Requests[index].RequestWorkFlowAPIs.Count>
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            @*<button data-toggle="tooltip" data-placement="top" title="view" class="view" asp-action="RequestDetails" asp-route-id="@Model.Requests[index].RequestNumber" onclick="displayRequestDetails(@index, 0)">
                                         <i class="fa fa-eye"></i>
                                    </button>*@

                                                            <button data-placement="top" title="view" data-status="1" data-toggle="modal" data-target="#exampleModal" data-index=@index data-workflow="false" data-workflowcount=0>
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        }

                                                    </li>
                                                    @if (Model.Requests[index].CanCancel)
                                                    {
                                                        <li class="list-inline-item">
                                                            <form asp-action="RequestCancel" method="post">
                                                                <input type="hidden" id="id" name="id" value="@Model.Requests[index].RequestNumber" />
                                                                <input type="hidden" id="benefitId" name="benefitId" value="@Model.Requests[index].benefitId" />
                                                                <button class="delete" id="deletebtn" data-toggle="tooltip" data-placement="top" title="Cancel" type="submit" style="background:none">
                                                                    <i id="deleteIcon" class="fa fa-trash text-danger my-4"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            <a class="delete disabled" data-toggle="tooltip" data-placement="top" title="Cancel" asp-action="RequestEdit" asp-route-id="@Model.Requests[index].RequestNumber">
                                                                <i id="deleteIcon" class="fa fa-close text-danger my-3"></i>
                                                            </a>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                                        }

                            @*</tbody>
                        </table>*@

                    </div>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <div>There is no benefit Requests</div>
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:600px; width:auto">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/images/BenefitCards/2e06c105-26e8-4762-a4af-95fc1245ddd6_ThankYou.png" class="img-fluid" alt="">
                <table class="table table-responsive">
                    <tr>
                        <td>
                            <span>Name:- </span> <span id="requestEmployeeName"></span>
                        </td>
                        <td>
                            <span>Type:- </span> <span id="requestType"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>From:- </span> <span id="requestFrom"></span>
                        </td>
                        <td>
                            <span>To:- </span> <span id="requestTo"></span>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
                <div class="timeline-area" style="height:auto">

                </div>
                </div>
            </div>
    </div>
</div>

